<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="supermarket.magiasoft.eu.comparasupermercados" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainCategories"
            android:label="@string/title_activity_main_categories" >
        </activity>
        <activity
            android:name=".activities.SecondLevelCategories"
            android:label="@string/title_activity_second_level_categories" >
        </activity>
        <activity
            android:name=".activities.ThirdLevelCategories"
            android:label="@string/title_activity_third_level_categories" >
        </activity>
    </application>

</manifest>
